<div class="banner" [style.background-image]="'url(assets/card-12.jpg)'">
    <div class="overlay">
      <h1 class="title">Banner Title Line </h1>
      <p class="paragraph">Paragraph line </p>
      <p class="paragraph">Paragraph line </p>
      <div class="buttons">
        <button class="btn btn-primary" (mouseenter)="hoverEffect($event)" (mouseleave)="hoverEffect($event)">Button </button>
      </div>
    </div>

    <div class="overlay">
        <h1 class="title">Banner Title Line </h1>
        <p class="paragraph">Paragraph line </p>
        <p class="paragraph">Paragraph line </p>
        <div class="buttons">
          <button class="btn btn-primary" (mouseenter)="hoverEffect($event)" (mouseleave)="hoverEffect($event)">Button </button>
        </div>
      </div>

      <div class="overlay">
        <h1 class="title">Banner Title Line </h1>
        <p class="paragraph">Paragraph line </p>
        <p class="paragraph">Paragraph line </p>
        <div class="buttons">
          <button class="btn btn-primary" (mouseenter)="hoverEffect($event)" (mouseleave)="hoverEffect($event)">Button </button>
        </div>
      </div>

      <div class="overlay">
        <h1 class="title">Banner Title Line </h1>
        <p class="paragraph">Paragraph line </p>
        <p class="paragraph">Paragraph line </p>
        <div class="buttons">
          <button class="btn btn-primary" (mouseenter)="hoverEffect($event)" (mouseleave)="hoverEffect($event)">Button </button>
        </div>
      </div>
  </div>
  