<div class="map-container">
    <!-- Xarita yoki boshqa turdagi interaktiv xarita kodlari -->
    <!-- Masalan, Google Maps integratsiyasi -->
     <h3>Map-view</h3>
    <iframe
      width="100%"
      height="400"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/place/IT+Park/@41.5584081,60.6193032,17z/data=!3m1!4b1!4m6!3m5!1s0x41dfc9842c81fc9d:0x9e434d2b8a616ce9!8m2!3d41.5584081!4d60.6218835!16s%2Fg%2F11s8nxmc2_?entry=ttu"
      allowfullscreen>
    </iframe>
  </div>
  